---
import { IJTypography } from "../ui/ichigojam";

import { ModeToggle } from "@/components/ui/mode-toggle";
---

<header
  class="fixed flex items-center justify-between p-2 border-4 h-16 w-full"
>
  <nav class="p-2">
    <ul class="flex items-center gap-4 text-[8cqi]">
      <li>
        <a href="/" class="text-lg font-bold">
          <IJTypography addCursor>Home</IJTypography>
        </a>
      </li>
      <li>
        <a href="/about" class="text-lg font-bold">
          <IJTypography>About</IJTypography>
        </a>
      </li>
      <li>
        <a href="/contact" class="text-lg font-bold">
          <IJTypography>Contact</IJTypography>
        </a>
      </li>
    </ul>
  </nav>
  <ModeToggle client:load />
</header>
