---
import { Share2Icon } from "lucide-react";

import { FacebookIcon } from "@/components/ui/facebook";
import { TwitterIcon } from "@/components/ui/twitter";

const { title, showTitle = true } = Astro.props;
const url = Astro.url.href;
---

<div class="flex flex-col gap-4 not-prose">
  {
    showTitle && (
      <div class="flex items-center gap-2 text-secondary">
        <Share2Icon size={16} />
        <h3 class="font-bold text-lg">共有する</h3>
      </div>
    )
  }
  <div class="flex flex-wrap items-center gap-2">
    <a
      class="group"
      href={`https://twitter.com/intent/tweet?url=${encodeURIComponent(
        url,
      )}&text=${encodeURIComponent(title)}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <TwitterIcon className="group-hover:text-accent" client:load />
      <span class="group-hover:text-accent">Twitter</span>
    </a>
    <a
      class="group"
      href={`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(
        url,
      )}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <FacebookIcon className="group-hover:text-accent" client:load />
      <span class="group-hover:text-accent">Facebook</span>
    </a>
  </div>
</div>
